<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.ope_rmjs_vidros">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".FornecedorDadosActivity">
        </activity>
        <activity android:name=".ClienteDadosActivity">
        </activity>
        <activity android:name=".ProdutoFormActivity">
        </activity>
        <activity android:name=".FornecedorFormActivity">
        </activity>
        <activity
                android:name=".OrcamentoFormActivity"
                android:label="Orçamentos">
        </activity>
        <activity
                android:name=".FornecedorActivity"
                android:label="Fornecedores"
                android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity
                android:name=".ConfigActivity"
                android:label="@string/activity_config">
        </activity>
        <activity
                android:name=".ClienteFormActivity"
                android:label="Cliente">
        </activity>
        <activity
                android:name=".ProdutoActivity"
                android:label="@string/activity_produto"
                android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity
                android:name=".OrcamentoActivity"
                android:label="@string/activity_orcamento"
                android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity
                android:name=".ClienteActivity"
                android:label="@string/activity_cliente"
                android:parentActivityName=".TelaInicialActivity"
                android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity
                android:name=".TelaInicialActivity"
                android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>